:root { 
--gray_600:#6c6c6c; 
--gray_400:#b6b6b6; 
--deep_orange_A100:#f5ab67; 
--gray_800:#3a3a3a; 
--blue_A700:#2364ff; 
--red_400:#e05c5c; 
--red_400_01:#e05d5d; 
--gray_800_01:#3c3c3c; 
--gray_200:#eaeaea; 
--green_600:#27a953; 
--gray_100:#f6f6f6; 
--black_900:#000000; 
--gray_400_01:#b1b1b1; 
--black_900_14:#00000014; 
--white_A700:#ffffff; 
--black_900_68:#00000068; 
--pink_400:#c63973; 
--green_600_63:#27a95363; 
}